body {
    background-color: #f4e1e2;
    text-align: center;
}

.navbar {
    background-color: #333333;
}

a {
    color: #f1f9f9;
}

a:hover {
    color: #f0f0f0;
  }

/* Contact */
.contact-icon{
	color: #ffffff;
	padding: 7px;
}

.contact-icon:hover{
	color: #8c8c8c;
}

/* Footer */
.footer{
	flex-shrink: 0;
	position: relative;
	padding: 20px;
	background: linear-gradient(45deg, #443B96, #F60B68, #F4483A);
	background-size: 500% 500%;
	animation: change-gradient 10s ease-in-out infinite;
}

.footer-description{
	color: #ffffff;
	margin: 0;
	font-size: 12px;
}